h1 {
  text-align: center;
  margin-bottom: 60px;
}
p {
  padding: 40;
  text-align: center;
}
.main__imgWrapper {
  display: flex;
  justify-content: center;
}
.main__image {
  width: 600px;
  margin: 30px;
}
.nav__logo {
  padding: 10px;
}
.nav__logoImg {
  height: 60px;
  width: auto;
}
.nav__logoTitle {
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav__link {
  padding: 10px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
}